@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header-gradient {
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
}

.bg-converter-gradient {
  background: rgb(64, 46, 155);
  background: radial-gradient(
    circle,
    rgba(64, 46, 155, 1) 5%,
    rgba(76, 50, 113, 1) 100%
  );
}
